// -----------------------------------------------------------------------------
// widget/_home-user.scss
// -----------------------------------------------------------------------------

.row.user {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 150px;
    position: relative;
    h1 {
        font-weight: 900;
    }
    .user-img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
    .logout {
        position: absolute;
        right: 10px;
        top: 30px;
    }
}

.row.points {
    padding-bottom: 20px;
    min-height: 110px;
    .key {
        color: $yellow;
    }
    .value {
        font-weight: 800;
    }
}


@media only screen and (max-width: 575px){
    .row.user {
        min-height: 225px;
    }
}